<!DOCTYPE html>
<html>

<head>
<style>
body{
background-color:white;
}
h1{
color:red;
text-align:center;
font-family:verdana;
font-size:40px
}
h2{
color:blue;
text-align:center;
font-size:30px;
}
h3{
color:black;
text-align:center;
font-family:verdana;
font-size:20px
}


</style>
<script>




 </script>
</head>
<body>
    <h1>The Top Winners</h1>
    <h2>Senior Category</h2>
    <h3>Song Yang Xi</h3>
    <h3>Pang Chen Chen</h3>
    <h3>Fanny Chow</h3>
    <h2>Junior Category</h2>
    <h3>Jonny Wick</h3>
    <h3>Ben Chong</h3>
    <h3>Kong Boo Joo</h3>
    <h2>We congratulate all the winners!</h2>

</body>
</html>
